.btn{
	padding: 30px 60px 30px 60px;
	margin-bottom: 70px;
	width: 600px;
	background: #00BC1A;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	font-family: sans-serif;
	font: bolder;
	font-size: 40px;
	text-align: center;
	user-select: none;
	cursor: pointer;
}
